<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-warning bootstrap-panel">
            <div class="panel-heading">ACTUALIZAR ESTUDIANTE</div>
            <div class="panel-body">
                <form>
                    <div class="row form-group">
                        <div class="col-md-4" >
                            <label for="input01">Carnet</label>
                            <div class="input-group">
                                <input type="number"  ng-model="updateStudent.dateStudent.carnet"
                                class="form-control with-warning-addon" placeholder="Buscar por...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="ion-search" ></i></button>
                                </span>
                            </div>
                        </div>
    
                        <div class="col-md-4" >
                            <label for="input02">Cédula</label>
                            <div class="input-group">
                                <input type="number" ng-model="updateStudent.dateStudent.identification"
                                class="form-control with-warning-addon" placeholder="Buscar por...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="ion-search" ></i></button>
                                </span>
                            </div>
                        </div>
    
                        <div class="col-md-4" >
                            <label for="input03">Género</label>
                            <ui-select ng-model="updateStudent.dateStudent.gender"
                                        class="btn-group bootstrap-select form-control with-warning-addon"
                                        ng-disabled="false"
                                        append-to-body="true"
                                        search-enabled="false">
                                <ui-select-match placeholder="">
                                <span> {{$select.selected.label}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="standardItem in updateStudent.gender | filter: $select.search">
                                <span ng-bind-html="standardItem.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col-md-4" >
                            <label for="input04">Primer nombre</label>
                            <input type="text"
                                class="form-control with-warning-addon"
                                ng-model="updateStudent.dateStudent.firtName"
                                id="input04"
                                placeholder="">
    
                        </div>
                        
                        <div class="col-md-4">
                            <label for="input05">Segundo nombre</label>
                            <input type="text" class="form-control with-warning-addon"
                            ng-model="updateStudent.dateStudent.secondName" id="input05" placeholder="">
                        </div>
    
                        <div class="col-md-4" >
                            <label for="input06">Primer apellido</label>
                            <input type="text" class="form-control with-warning-addon"
                            ng-model="updateStudent.dateStudent.firtLastName" id="input06" placeholder="">
                        </div>
                    </div>
                    
                    <div class="row form-group">					
                        <div class="col-md-4" >
                            <label for="input07">Segundo apellido</label>
                            <input type="text" class="form-control with-warning-addon" 
                            ng-model="updateStudent.dateStudent.secondLastName" id="input07" placeholder="">
                        </div>
    
                        <div class="col-md-8" >
                            <label for="input08">Carrera</label>
                            <ui-select ng-model="updateStudent.dateStudent.majors"
                                        class="btn-group bootstrap-select form-control with-warning-addon"
                                        ng-disabled="false"
                                        append-to-body="true"
                                        search-enabled="false">
                                <ui-select-match placeholder="">
                                <span> {{$select.selected.label}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="standardItem in updateStudent.majors | filter: $select.search">
                                <span ng-bind-html="standardItem.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>							
    
                    <div class="row form-group">
                        <div class="col-md-8" >
                            <label for="input09">Correo</label>
                            <input type="text" class="form-control with-warning-addon" ng-model="updateStudent.dateStudent.email" id="input09" placeholder="...@gmail.com">
                        </div>
    
                        <div class="col-md-4" >
                            <button style="margin-left: 5%; margin-top: 12.5%"
                            type="button" ng-click="updateStudent.registerNewStudent()" 
                            class="btn btn-warning btn-with-icon">
                            <i class="ion-android-warning"></i>Modificar</button>
    
                            <button style="margin-top: 14%" type="button" class="btn btn-default btn-xs" ng-click="addStudent.deleteInfomationStudent()">Limpiar</button>
                        </div>
                    </div>				
                </form>
            </div>
        </div>
    </div>
</div>